body {
    text-align: justify;
    background-color: rgb(231, 231, 135);
    color: rgb(36, 21, 1);
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 50px;
    color: rgb(250, 250, 250);
}

section {
    margin: 20px;
    padding: 10px;
    border: 2px solid rgb(82, 44, 8);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

section:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

img {
    width: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

img:hover {
transform: rotate(30deg);
transition: transform 0.3s ease-in-out;
}

a {
    color: rgb(238, 82, 10);
    text-decoration: none;
    background-color: rgb(253, 207, 0);
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

a:hover {
    color: rgb(156, 146, 5);
    background-color: rgb(255, 56, 6);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(143, 61, 7);
    border-radius: 50px;
    margin: 20px;

}

.youtube {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 5px;
}

h2 {
    text-align: center;
    color: rgb(58, 34, 6);
}

nav {
    margin: 10px;
}

nav a {
    margin: 10px;
    display: inline-block;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
